/* --------------------------------------------------------*/
/* Start Dashboard
/* --------------------------------------------------------*/

html{
    --darkBG: #1c232d; 
    --cardBG:  #2c455e;
    --cardBorder: #c28d63;
    --textColor: white; 
}

body{
    background-color: var(--darkBG) !important ;
}

hr{
    border-color: var(--cardBorder) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--textColor) !important;
}

a{
    color: var(--textColor) !important;
}

.card{
    background-color: var(--cardBG) !important;
    border: solid var(--cardBorder) 2px !important;
    border-radius: 5px !important;
}

.card-header{
    background-color: var(--cardBG) !important;
    border-bottom: solid 1px var(--cardBorder) !important;
}

.hl_dashboard--conversion-rate .bottom-stats li strong, .hl_dashboard--matters-added .bottom-stats li strong, .hl_dashboard--pipeline-value .bottom-stats li strong {
    color: var(--textColor) !important;
}

.hl_tasks-list button.dropdown-toggle {
    background-color: var(--cardBG) !important;
    color: var(--textColor) !important;
}

.pending-manual-actions .hl_tasks-list .bootstrap-select>.btn.dropdown-toggle.bs-placeholder .filter-option {
    color: var(--textColor) !important;
}

.dropdown-menu {
    background-color: var(--darkBG) !important;
}

.dropdown-item {
    color: var(--textColor) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--cardBorder) !important;
    background-color: var(--darkBG) !important;
}

.card.task-list-card {
    border: none !important;
}

#dashboard .date-time-picker {
    background-color: #2c455e !important;
}

#dashboard .btn.btn-light {
    background-color: #2c455e !important;
}

.card.hl_dashboard--pipeline-value {
    border: solid 2px #c28d63 !important;
}

.dropdown-toggle:after {
    color: white !important;
}

.col-4.pending-task-value-col {
    color: white !important;
}

/* --------------------------------------------------------*/
/* Start Conversations
/* --------------------------------------------------------*/

.hl_conversations--wrap {
    background-color: var(--darkBG) !important;
}

.hl_conversations--messages-list {
    background-color: var(--cardBG) !important;
}

.hl_conversations--messages-list .nav-tabs {
    background-color: var(--cardBG) !important;
}

.messages-list-header {
    background-color: var(--cardBG) !important;
}

.messages-list-search {
    background-color: var(--cardBG) !important;
}

body[data-theme=default-dark-v1] a:not(.btn), body[data-theme=default-dark-v1] a:not(.btn):hover {
    color: var(--textColor) !important;
}

#customers .date-time-picker .field .field-input, #dashboard .date-time-picker .field .field-input, #opportunities .date-time-picker .field .field-input, #stats-tab .date-time-picker .field .field-input {
    color: var(--textColor) !important;
}

.hl_conversations--message {
    background-color: var(--darkBG) !important;
}

.messages-group-heading img {
    background: var(--darkBG) !important;
}

.hl_conversations--message-body .message-input-wrap {
    background-color: var(--darkBG) !important;
}

.message-body--aside {
    background-color: var(--darkBG) !important;
}

.message-header-actions .btn {
    background: #1c232d !important;
    color: white !important;
}

.aside-texts-name input {
    background-color: #1c232d !important;
    color: white !important;
}

.hl_conversations--message-body .message-box {
    background: #1c232d !important;   
}

.message-box textarea {
    background-color: #1c232d !important;
    color: white !important;
}

.message-body--aside .btn-sched-wrap {
    background-color: #1c232d !important;
}

.aside-texts-infos input {
    background-color: #1c232d !important;
    color: white !important;
}

/* --------------------------------------------------------*/
/* Start Opportunities
/* --------------------------------------------------------*/

.date-time-picker {
    background-color: #1c232d !important;
}

.btn.btn-light {
    background-color: #1c232d !important;
}

.filter-option-inner-inner {
    color: white !important;
}

/* --------------------------------------------------------*/
/* Start Form Builder
/* --------------------------------------------------------*/

.hl_form-builder--sidebar {
    background-color: #2c455e !important;
}

.hl_form-builder--sidebar .nav-tabs.top-nav-wrapper-customfield {
    background: #2c455e !important;
}

/* --------------------------------------------------------*/
/* Start Survey Builder
/* --------------------------------------------------------*/

.fields-settings-overlay {
    background-color: #2c455e !important;
}

.table tbody tr td {
    color: white !important;
    border-top: none !important;
}

/* --------------------------------------------------------*/
/* Start SMS & Email Templates
/* --------------------------------------------------------*/

.hl_edit-event-modal .modal-body {
    background: #1c232d !important;
}

/* --------------------------------------------------------*/
/* Start Attribution Report
/* --------------------------------------------------------*/

.hl_datepicker {
    background-color: #2c455e !important;
}

.card.no-border-radius {
    border: none !important;
}

.table-hl thead tr th {
    color: white !important;
}

.table-hl tbody tr:nth-of-type(2n), .table-hl thead tr th {
    background-color: #2c455e !important;
}

.hl-table .hl-table-button {
    background-color: #2c455e !important;
    color: white !important;
}

.select-control {
    background: #2c455e !important;
    color: white !important;
}

.page-item.disabled .page-link {
    color: white !important;
    background-color: #2c455e !important;
    border: none !important;
}

.page-item.active .page-link {
    color: white !important;
    background-color: #2c455e !important;
    border-color: #2c455e !important;
}

/* --------------------------------------------------------*/
/* Start Reviews
/* --------------------------------------------------------*/

.dropdown.bootstrap-select.fit-width {
    color: white !important;
}

/* --------------------------------------------------------*/
/* Start Contacts
/* --------------------------------------------------------*/

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle .filter-option {
    color: white !important;
}

.flex-page-bar{
    color: white !important;
    background-color: #2c455e !important;
}

/* --------------------------------------------------------*/
/* Start Contact Requests
/* --------------------------------------------------------*/

.customized-header .header-underline ul.header-ul li.router-link-active {
    color: white !important;
}

.table thead tr th {
    color: white !important;
}

/* --------------------------------------------------------*/
/* Start Chat Widget
/* --------------------------------------------------------*/

.hl_wrapper-text-widget--root {
    background-color: #1c232d !important;
}

/* --------------------------------------------------------*/
/* Start Settings
/* --------------------------------------------------------*/

.hl_settings--header {
    background-color: #2c455e !important;
    border: none;
    box-shadow: none;
}

/* --------------------------------------------------------*/
/* Start Nav
/* --------------------------------------------------------*/

.hl_header {
    background: #0c2d3f !important;
}

.hl_header--picker>.dropdown-menu .inner .dropdown-menu li a{
    color: white !important;
}

.hl_navbar--links>li>div {
    background-color: #0c2d3f !important;
}

.hl_header--picker>.btn.dropdown-toggle {
    background: #0c2d3f !important;
}

.hl_header--picker>.btn.dropdown-toggle .filter-option {
    color: white!important;
}

.hl_header > div.container-fluid {
    background-color: #0c2d3f !important;
}

.hl_header--picker>.dropdown-menu .inner .dropdown-menu li.selected a {
    background: #2c455e!important;
}