
/* --------------------------------------------------------*/
/* Custom Horizontal Theme */
/* For video walkthrough - https://www.hlprotools.com/horizontal-menu
/* --------------------------------------------------------*/

html {
    --themeColorPrimary: rgba(0,111,201, 1); 
    --themeColorPrimaryDark:  rgb(59, 59, 59);
    --themeColorNavLinks: rgb(255, 255, 255); 
    --themeColorNavLinksHover: rgb(255, 255, 255);    
    --themeColorNavLinksActiveHover: rgb(255, 255, 255);
    --themeColorAvatarCircleBG: rgb(59, 59, 59);
    --themeColorAvatarCircle: rgb(255, 255, 255);
}

/* --------------------------------------------------------*/
/* Hide Collapse For Navigation
/* --------------------------------------------------------*/

html {
  overflow: auto;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
}
hl_wrapper {
    padding-left: 0px;
}
.hl_navbar--links {
    height: unset;
}
.hl_header {
    position: static;
}

#navbar-collapse>button {
  display: none;
}

.hl_navbar--logo {
    display: none;
}
.hl_navbar-toggler {
    display: none !important;
}
button#navbar-toggler.hl_navbar--toggle {
    display: none !important;
}

@media (max-width: 768px) {
    .hl_navbar--collapse {
        display: none !important;
        display: block !important;
    }
}
@media (min-width: 768px) {
    .hl_navbar--collapse {
        display: none !important;
        display: block !important;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .hl_navbar--collapse {
        display: none !important;
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .hl_navbar--collapse {
        display: none !important;
        display: block !important;
    }
}



/* --------------------------------------------------------*/
/* Customize Navigation Colors
/* --------------------------------------------------------*/



.hl_controls .hl_controls--right .btn-group-sm>.btn .icon, .hl_controls .hl_controls--right .btn-sm .icon {
    color: var(--themeColorPrimary);
}

.hl_navbar--links>li a:active,
.hl_navbar--links>li a:focus,
.hl_navbar--links>li a:hover
 {color: var(--themeColorPrimary);}

.hl_navbar--links>li .nav-marketing-links ul li.active a {color: var(--themeColorPrimary) !important;}

.hl_navbar--links>li a span:hover {
  color: var(--themeColorNavLinksHover);
}

#nav-links {
    background-color: var(--themeColorNavLinks);
    color: var(--themeColorNavLinks) !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#nav-links > li {
    color: #FFFFFF;
}

.bootstrap-select>.btn.dropdown-toggle:after {
    color: var(--themeColorPrimary);
}

.bootstrap-select.show>.btn.dropdown-toggle {
    border-color: var(--themeColorPrimary);
}

.hl_navbar--links>li a, ul#nav-links li {
  max-height: 45px;
  color: var(--themeColorPrimaryDark);
}

.hl_navbar--links>li.active>a {
  color: var(--themeColorPrimary);
  font-weight: 500;
  background: var(--themeColorPrimary);
}



.hl_navbar--links>li.active>a {
  color: var(--themeColorPrimary);
  font-weight: 500;
  background: var(--themeColorPrimary);
}

.bootstrap-select .dropdown-menu {margin-top: 20px;}


/* --------------------------------------------------------*/
/* Customize Horizontal NavBar
/* --------------------------------------------------------*/


.hl_navbar--links>li {
    position: static;
}

.hl_navbar--links>li>div  {
    position: absolute;
    z-index: 100;
    background-color: #FFFFFF !important;
}

.hl_navbar--links>li a i {
    margin-right: 10px;
}

.pmd-app .hl_wrapper {
    padding-left: 0px;
}

#navbar>div>a {
  margin-bottom: 0;
}

.hl_navbar--links>li a .caret {
    display: none;
}


.hl_navbar--links>li.active>a {
  color: var(--themeColorNavLinks);
  font-weight: 500;
  background: var(--themeColorPrimary);
}

.hl_navbar--links>li a {
    padding: 10px 18px;
}

.hl_navbar--links>li.active>a {
    color: var(--themeColorNavLinks);
    background: var(--themeColorPrimary);
}

.hl_navbar--links>li.active>a:hover {
    color: var(--themeColorNavLinks);
    font-weight: 600;
    background: var(--themeColorPrimary);
}

.hl_navbar--links>li>a:hover {
    color: var(--themeColorNavLinksHover);
    font-weight: 600;
    background: var(--themeColorPrimary);
}

.hl_navbar--links>li .nav-dropdown-links {
  background-color: var(--themeColorNavLinks);
}

.hl_controls .hl_controls--right .btn-group-sm>.btn>span+.icon, .hl_controls .hl_controls--right .btn-sm>span+.icon {
    margin-left: 10px;
    color: var(--themeColorPrimary) !important;
}

.hl_navbar {
  padding: 0;
}

.hl_navbar--toggle {
  top: 20px;
}

.hl_header {
   border-top: 0;
}

.hl_header > div.container-fluid {
    padding: 2px 10px;
    height: 44px;
}

.hl_navbar--toggle {
    color: var(--themeColorPrimary);
}


@media (max-width: 768px) {
.hl_navbar--collapse {
    display: none;
}
.hl_navbar--links>li a span {
    opacity: 1;
    -webkit-transition: unset;
    transition: unset;
    -webkit-transform: unset;
    transform: unset;
    display: none;
}
}

@media (min-width: 768px) {
    .hl_header {
        position: static;
    }
    .hl_wrapper {
        padding-top: 0;
        padding-left: 0px;
    }
    .hl_navbar--links {
        margin-top: unset;
        height: unset;
    }
    .hl_navbar {
  padding: 0;
        position: unset;
        width: unset;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
.hl_navbar--collapse {
    display: none;
}
.hl_navbar--links>li a span {
    opacity: 1 !important;
    -webkit-transition: unset !important;
    transition: unset !important;
    -webkit-transform: unset !important;
    transform: unset !important;
}
}

@media (min-width: 1200px) {
.hl_navbar--collapse {

    display: none;
}
.hl_navbar {
    width: unset;
}
}

hl_header--controls {
    padding-right: 0px;
}

.hl_header--controls a.btn-circle {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 1rem;
    border-radius: 50%;
    background: #FFFF !important;
    color: var(--themeColorPrimaryDark) !important;
}
.hl_header--controls a.btn-circle:hover {
    background: var(--themeColorAvatarCircleBG) !important;
    color:  var(--themeColorAvatarCircle) !important;
}
.hl_header--controls > a:last-of-type {
    display: block !important;
}


span.btn.btn-circle.d-flex.justify-content-center.align-items-center.btn-green-dark {
    min-width: 40px;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
}

.btn-circle, .btn-circle-sm {
    padding: 0;
    text-align: center;
    border-radius: 50%;
    min-width: auto;
}


.hl_header--picker {
    height: 40px !important;
}

.hl_header--picker > button.bootstrap-select>.btn.dropdown-toggle {
    height: 40px;
    border-color: #000000;
}

.hl_header--picker>.btn.dropdown-toggle {
    height: 40px !important;
}
body.with-alert #app {
    padding-top: 0 !important;
}

@media (min-width: 768px) {
    .hl_navbar.shrink {
        width: unset !important;
    }
}

@media (min-width: 1200px) {
    .hl_navbar.shrink .hl_navbar--links>li a span {
        opacity: 1 !important;
        -webkit-transition: unset !important;
        transition: unset !important;
        -webkit-transform: unset !important;
        transform: unset !important;
    }
    .hl_navbar--links>li a span {
        opacity: 1 !important;
        -webkit-transition: unset !important;
        transition: unset !important;
        -webkit-transform: unset !important;
        transform: unset !important;
    }
    .hl_wrapper.nav-shrink {
        padding-left: 0 !important;
    }
    .hl_navbar.shrink {
        width: unset !important;
    }
    .hl_wrapper.nav-shrink {
        padding-left: 0 !important;
    }
}

/* --------------------------------------------------------*/
/* End Horizontal Menu Theme */
/* --------------------------------------------------------*/



Resources