html{
	--themeColorPrimary: #30475e;
	--themeColorPrimaryDark: #30475e;
	--themeColorNavLinks: rgb(255, 255, 255);
	--themeColorNavLinksHover: rgb(255, 255, 255);
	--themeColorNavLinksActiveHover: rgb(255, 255, 255);
	--themeColorAvatarCircleBG: rgb(59, 59, 59);
	--themeColorAvatarCircle: rgb(255, 255, 255);
	overflow: auto !important;
}

body{
	overflow-y: auto !important;
	overflow-x: hidden !important;
	padding: 0 !important;
}

.hl_wrapper{
	padding-left: 0px !important;
}

.hl_navbar--links{
	height: unset !important;
}

.hl_header{
	position: static !important;
	border-top: 0 !important;
}

#navbar-collapse>button{
	display: none !important;
}

.hl_navbar--logo{
	display: none !important;
}

.hl_navbar-toggler{
	display: none !important;
}

button#navbar-toggler.hl_navbar--toggle{
	display: none !important;
}

.hl_controls .hl_controls--right .btn-group-sm>.btn .icon, .hl_controls .hl_controls--right .btn-sm .icon{
	color: var(--themeColorPrimary) !important;
}

.hl_navbar--links>li a:active,.hl_navbar--links>li a:focus,.hl_navbar--links>li a:active{
	color: var(--themeColorPrimary) !important;
}

.hl_navbar--links>li .nav-marketing-links ul li.active a{
	color: var(--themeColorPrimary) !important;
}

.hl_navbar--links>li a span:hover{
	color: var(--themeColorNavLinksHover) !important;
}

#nav-links > li{
	background-color: #30475e !important;
}

.bootstrap-select>.btn.dropdown-toggle:after{
	color: var(--themeColorPrimary) !important;
}

.bootstrap-select.show>.btn.dropdown-toggle{
	border-color: var(--themeColorPrimary) !important;
}

.hl_navbar--links>li a, ul#nav-links li{
	max-height: 45px !important;
	color: white !important;
}

.hl_navbar--links>li.active>a{
	color: var(--themeColorPrimary) !important;
	font-weight: 500 !important;
	background: var(--themeColorPrimary) !important;
	color: var(--themeColorPrimary) !important;
	font-weight: 500 !important;
	background: var(--themeColorPrimary) !important;
	color: var(--themeColorNavLinks) !important;
	font-weight: 500 !important;
	background: var(--themeColorPrimary) !important;
	color: var(--themeColorNavLinks) !important;
	background: var(--themeColorPrimary) !important;
}

.bootstrap-select .dropdown-menu{
	margin-top: 20px !important;
}

.hl_navbar--links>li{
	position: static !important;
}

.hl_navbar--links>li>div{
	position: absolute !important;
	z-index: 100 !important;
	background-color: #FFFFFF !important;
}

.hl_navbar--links>li a i{
	margin-right: 10px !important;
}

.pmd-app .hl_wrapper{
	padding-left: 0px !important;
}

#navbar>div>a{
	margin-bottom: 0 !important;
}

.hl_navbar--links>li a .caret{
	display: none !important;
}

.hl_navbar--links>li a{
	padding: 10px 18px !important;
}

.hl_navbar--links>li.active>a:hover{
	color: var(--themeColorNavLinks) !important;
	font-weight: 600 !important;
	background: var(--themeColorPrimary) !important;
}

.hl_navbar--links>li>a:hover{
	color: var(--themeColorNavLinksHover) !important;
	font-weight: 600 !important;
	background: var(--themeColorPrimary) !important;
}

.hl_navbar--links>li .nav-dropdown-links{
	background-color: var(--themeColorNavLinks) !important;
}

.hl_controls .hl_controls--right .btn-group-sm>.btn>span+.icon, .hl_controls .hl_controls--right .btn-sm>span+.icon{
	margin-left: 10px !important;
	color: var(--themeColorPrimary) !important;
}

.hl_navbar{
	padding: 0 !important;
}

.hl_navbar--toggle{
	top: 20px !important;
	color: var(--themeColorPrimary) !important;
}

.hl_header > div.container-fluid{
	padding: 2px 10px !important;
	height: 44px !important;
}

hl_header--controls{
	padding-right: 0px !important;
}

.hl_header--controls a.btn-circle{
	width: 40px !important;
	height: 40px !important;
	line-height: 40px !important;
	font-size: 1rem !important;
	border-radius: 50% !important;
	background: #FFFF !important;
	color: var(--themeColorPrimaryDark) !important;
}

.hl_header--controls a.btn-circle:hover{
	background: var(--themeColorAvatarCircleBG) !important;
	color: var(--themeColorAvatarCircle) !important;
}

.hl_header--controls > a:last-of-type{
	display: block !important;
}

span.btn.btn-circle.d-flex.justify-content-center.align-items-center.btn-green-dark{
	min-width: 40px !important;
	width: 40px !important;
	height: 40px !important;
	line-height: 40px !important;
}

.btn-circle, .btn-circle-sm{
	padding: 0 !important;
	text-align: center !important;
	border-radius: 50% !important;
	min-width: auto !important;
}

.hl_header--picker{
	height: 40px !important;
}

.hl_header--picker > button.bootstrap-select>.btn.dropdown-toggle{
	height: 40px !important;
	border-color: #000000 !important;
}

.hl_header--picker>.btn.dropdown-toggle{
	height: 40px !important;
}

body.with-alert #app{
	padding-top: 0 !important;
}

/* Link (hover) */
#nav-dashboard a:hover{
	color:#1abc9c !important;
	background-color:transparent !important;
}

/* Navbar */
#navbar{
	background-color:#374149 !important;
	color:#ffffff !important;
	font-family:'Archivo', sans-serif !important;
	font-weight:600 !important;
	font-size:16px !important;
	font-style:normal !important;
	text-transform:capitalize !important;
}

/* Section */
#dashboard{
	background-color:#222831 !important;
}

/* Navbar collapse (hover) */
#navbar-collapse:hover{
	color:#feb82a !important;
}

/* Image */
#navbar img{
	background-image:none !important;
	animation-fill-mode:both !important;
}

/* Link (active) */
#nav-dashboard a:active{
	background-color:transparent !important;
	color:#3498db !important;
}

/* List item (visited) */
#nav-dashboard a:visited{
	background-color:transparent !important;
}

/* Link (link) */
#nav-dashboard a:link{
	background-color:transparent !important;
}

/* Link (hover) */
#nav-conversations a:hover{
	color:#1abc9c !important;
	position:relative !important;
	top:0px !important;
	left:0px !important;
}

/* Font Icon (hover) */
#nav-conversations a i:hover{
	background-color:transparent !important;
	color:#1abc9c !important;
}

/* Link (hover) */
#nav-online-analysis a:hover{
	color:#feb82a !important;
}

/* Link (hover) */
#nav-phonecalls a:hover{
	color:#1abc9c !important;
}

/* Link (hover) */
#nav-customers a:hover{
	color:#1abc9c !important;
	padding-right:0px !important;
	position:relative !important;
	top:0px !important;
	left:0px !important;
}

/* List */
#nav-reviews-collapse ul{
	background-color:#15242b !important;
	position:relative !important;
	top:0px !important;
	left:0px !important;
}

/* Reviews Link */
#nav-reviews > a{
	position:static !important;
	top:5px !important;
	left:0px !important;
	color:#ffffff !important;
	bottom:5px !important;
	right:auto !important;
}

/* Link */
#nav-reputation a{
	color:#ffffff !important;
}

/* Collapsed (hover) */
#nav-reviews .collapsed:hover{
	color:#feb82a !important;
}

/* Link (hover) */
#nav-appointment-request a:hover{
	color:#1abc9c !important;
}

/* Link */
#nav-appointment a{
	color:#ffffff !important;
	padding-bottom:5px !important;
	padding-top:5px !important;
}

/* Collapsed (hover) */
#nav-appointment .collapsed:hover{
	color:#feb82a !important;
}

/* Link */
#nav-customers a{
	color:#ffffff !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* Collapsed */
#nav-funnels-websites .collapsed{
	color:#ffffff !important;
}

/* List */
#nav-customers-collapse ul{
	background-color:#15242b !important;
}

/* List */
#nav-funnels-collapse ul{
	background-color:#15242b !important;
	color:#ffffff !important;
}

/* Link */
#nav-funnels-collapse ul a{
	color:#ffffff !important;
}

/* Link */
#nav-triggers a{
	color:#235979 !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* Span Tag */
#nav-triggers a span{
	color:#ffffff !important;
	font-size:17px !important;
}

/* Italic Tag */
#nav-online-analysis a i{
	color:#ffffff !important;
}

/* List */
#nav-phonecalls-collapse ul{
	background-color:#15242b !important;
}

/* Collapsed (hover) */
#nav-marketing .collapsed:hover{
	color:#feb82a !important;
}

/* Span Tag (hover) */
#nav-marketing a span:hover{
	color:#1abc9c !important;
}

/* Card header */
#dashboard .container-fluid .card-group > .card > .card-header{
	background-color:#30475e !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	border-color:#f3caa4 !important;
	border-width:1px !important;
	color:#2d5883 !important;
	border-top-left-radius:1px !important;
	border-top-right-radius:1px !important;
	border-style:none !important;
	border-bottom-style:solid !important;
}

/* Container fluid */
#dashboard .container-fluid{
	border-top-left-radius:20px !important;
	border-top-right-radius:20px !important;
	border-bottom-left-radius:20px !important;
	border-bottom-right-radius:20px !important;
	position:relative !important;
	top:0px !important;
	left:0px !important;
	background-color:#222831 !important;
}

/* Link (link) */
#nav-marketing-collapse li:nth-child(1) a:link{
	color:#ffffff !important;
}

/* Link (hover) */
#nav-marketing a:hover{
	color:#1abc9c !important;
}

/* Span Tag (active) */
#nav-marketing a span:active{
	color:#3498db !important;
}

/* Span Tag */
#nav-funnels-websites a span{
	font-size:17px !important;
}

/* Span Tag */
#nav-online-analysis a span{
	color:#ffffff !important;
}

/* Link (hover) */
#nav-marketing-collapse li:nth-child(1) a:hover{
	color:#1abc9c !important;
}

/* Link (hover) */
#nav-customers-collapse ul a:hover{
	color:#1abc9c !important;
}

/* Link (hover) */
#app div div #navbar .hl_navbar--inner #navbar-collapse #nav-links #nav-reviews #nav-reviews-collapse ul #nav-reviews a:hover{
	color:#1abc9c !important;
}

/* Link (hover) */
#nav-reputation a:hover{
	color:#1abc9c !important;
}

/* Link (hover) */
#nav-funnels-collapse ul a:hover{
	color:#1abc9c !important;
}

/* Reviews Link (hover) */
#nav-reviews > a:hover{
	color:#1abc9c !important;
}

/* Link (hover) */
#nav-triggers a:hover{
	color:#1abc9c !important;
}

/* Link (hover) */
#nav-settings a:hover{
	color:#1abc9c !important;
}

/* Link */
#nav-marketing-collapse li:nth-child(1) a{
	color:#ffffff !important;
}

/* Link */
#nav-marketing-collapse li:nth-child(2) a{
	color:#ffffff !important;
}

/* Link */
#nav-marketing-collapse li:nth-child(3) a{
	color:#ffffff !important;
}

/* Link */
#nav-marketing-collapse li:nth-child(5) a{
	color:#ffffff !important;
}

/* Link */
#nav-marketing-collapse li:nth-child(6) a{
	color:#ffffff !important;
}

/* Link */
#nav-marketing-collapse li:nth-child(7) a{
	color:#ffffff !important;
}

/* Link */
#nav-appointment-collapse li:nth-child(1) a{
	color:#ffffff !important;
}

/* Span Tag */
#nav-appointment a span{
	font-size:17px !important;
}

/* Span Tag (hover) */
#nav-appointment a span:hover{
	color:#1abc9c !important;
}

/* Span Tag (active) */
#nav-appointment a span:active{
	color:#3498db !important;
}

/* Span Tag (hover) */
#nav-appointment-request a span:hover{
	color:#1abc9c !important;
}

/* Span Tag (active) */
#nav-appointment-request a span:active{
	color:#3498db !important;
}

/* Span Tag (hover) */
#nav-reviews a span:hover{
	color:#1abc9c !important;
}

/* Span Tag (active) */
#nav-reviews a span:active{
	color:#3498db !important;
}

/* Link */
#nav-phonecalls-collapse ul a{
	color:#ffffff !important;
}

/* Link (visited) */
#nav-phonecalls-collapse ul a:visited{
	color:#ffffff !important;
}

/* Link (active) */
#nav-phonecalls-collapse ul a:active{
	color:#3498db !important;
}

/* Span Tag (hover) */
#nav-customers a span:hover{
	color:#1abc9c !important;
}

/* Span Tag (active) */
#nav-customers a span:active{
	color:#3498db !important;
}

/* Link (active) */
#nav-customers-collapse ul a:active{
	color:#3498db !important;
}

/* Link (visited) */
#nav-customers-collapse ul a:visited{
	color:#ffffff !important;
}

/* Span Tag (hover) */
#nav-dashboard a span:hover{
	color:#1abc9c !important;
}

/* Italic Tag (hover) */
#nav-dashboard a i:hover{
	color:#1abc9c !important;
}

/* Italic Tag (hover) */
#nav-appointment-request a i:hover{
	color:#1abc9c !important;
}

/* Italic Tag (hover) */
#nav-marketing .icon-mail:hover{
	color:#1abc9c !important;
}

/* Italic Tag (hover) */
#nav-appointment a .icon-calendar:hover{
	color:#1abc9c !important;
}

/* Font Icon (hover) */
#nav-reviews a .fa-star:hover{
	color:#1abc9c !important;
}

/* Font Icon (hover) */
#nav-funnels-websites a .fa-filter:hover{
	color:#1abc9c !important;
}

/* Icon user (hover) */
#nav-customers a .icon-user:hover{
	color:#1abc9c !important;
}

/* Italic Tag (hover) */
#nav-online-analysis a i:hover{
	color:#1abc9c !important;
}

/* Icon smartphone (hover) */
#nav-phonecalls a .icon-smartphone:hover{
	color:#1abc9c !important;
}

/* Link (active) */
#nav-marketing-collapse li:nth-child(2) a:active{
	color:#3498db !important;
}

/* Link (active) */
#nav-marketing-collapse li:nth-child(3) a,#nav-marketing-collapse li:nth-child(4) a,#nav-marketing-collapse li:nth-child(5) a,#nav-marketing-collapse li:nth-child(6) a,#nav-marketing-collapse li:nth-child(7) a:active{
	color:#3498db !important;
}

/* Link (active) */
#nav-marketing-collapse li:nth-child(1) a:active{
	color:#3498db !important;
}

/* Span Tag (active) */
#nav-online-analysis a span:active{
	color:#3498db !important;
}

/* Span Tag (active) */
#nav-phonecalls span:active{
	color:#3498db !important;
}

/* Span Tag */
#nav-settings a span{
	padding-top:1px;
	color:#ffffff !important;
}

/* Span Tag (active) */
#nav-settings a span:active{
	color:#3498db !important;
}

/* Span Tag (active) */
#nav-conversations a span:active{
	color:#3498db !important;
}

/* Span Tag (active) */
#nav-dashboard a span:active{
	color:#3498db !important;
}

/* Link */
#nav-marketing-collapse li:nth-child(5) a,#nav-marketing-collapse li:nth-child(6) a,#nav-marketing-collapse li:nth-child(7) a{
	color:#ffffff !important;
}

/* Link */
#nav-marketing-collapse li:nth-child(4) a{
	color:#ffffff !important;
}

/* Link, List */
#nav-marketing-collapse li:nth-child(2) a,#nav-marketing-collapse li:nth-child(7) a,#nav-marketing-collapse li:nth-child(6) a,#nav-marketing-collapse li:nth-child(5) a,#nav-marketing-collapse li:nth-child(4) a,#nav-marketing-collapse li:nth-child(3) a,#nav-marketing-collapse ul{
	color:#ffffff !important;
}

/* Link (link) */
#nav-marketing-collapse li:nth-child(1) a,#nav-marketing-collapse li:nth-child(2) a,#nav-marketing-collapse li:nth-child(3) a,#nav-marketing-collapse li:nth-child(4) a,#nav-marketing-collapse li:nth-child(5) a,#nav-marketing-collapse li:nth-child(6) a,#nav-marketing-collapse li:nth-child(7) a:link{
	color:#ffffff !important;
}

/* Filter option inner */
.hl_header .filter-option .filter-option-inner{
	font-size:25px;
	background-color:#222831 !important;
	color:#ffffff !important;
}

/* Span Tag */
#nav-online-analysis a span,#nav-phonecalls a span{
	font-size:17px !important;
}

/* Link (hover) */
#nav-marketing-collapse ul a:hover{
	color:#1abc9c !important;
}

/* Link (active) */
#nav-marketing-collapse ul a:active{
	color:#3498db !important;
}

/* Link (active) */
#nav-appointment-collapse ul a:active{
	color:#3498db !important;
}

/* Reviews Link (active) */
#nav-reviews > a:active{
	color:#3498db !important;
}

/* Link (active) */
#nav-reputation a:active{
	color:#3498db !important;
}

/* Link (active) */
#nav-funnels-collapse ul a:active{
	color:#3498db !important;
}

/* Link (visited) */
#nav-funnels-collapse ul a:visited{
	color:#9b7b7b !important; 
}

/* Link (visited) */
#nav-reputation a:visited{
	color:#bdc3c7 !important;
}

/* Link (visited) */
#nav-appointment-collapse ul a:visited{
	color:#ffffff !important;
}

/* Reviews Link (visited) */
#nav-reviews > a:visited{
	color:#ffffff !important;
}

/* Link (visited) */
#nav-marketing-collapse ul a:visited{
	color:#ffffff !important;
}

/* Span Tag */
#nav-customers span{
	color:#ffffff !important;
}

/* Font Icon */
#nav-conversations a i{
	color:#ffffff !important;
}

/* Italic Tag */
#nav-customers .icon-user{
	color:#ffffff !important;
}

/* Font Icon */
#nav-triggers a i{
	color:#ffffff !important;
}

/* Italic Tag */
#nav-settings a i{
	color:#ffffff !important;
}

/* Italic Tag (active) */
#navbar-collapse #nav-links #nav-marketing .collapsed .icon-mail:active{
	color:#3498db !important;
}

/* Span Tag */
#nav-conversations a span{
	font-size:17px;
	color:#ffffff !important;
}

/* Span Tag */
#nav-appointment-request a span{
	font-size:17px;
	color:#ffffff !important;
}

/* Span Tag */
#nav-marketing a span{
	font-size:17px !important;
}

/* Font Icon (active) */
#nav-triggers a i:active{
	color:#3498db !important;
}

/* Span Tag (active) */
#nav-triggers a span:active{
	color:#3498db !important;
}

/* Italic Tag (active) */
#nav-online-analysis a i:active{
	color:#3498db !important;
}

/* Font Icon (active) */
#nav-funnels-websites .fa-filter:active{
	color:#3498db !important;
}

/* Icon user (active) */
#nav-customers a .icon-user:active{
	color:#3498db !important;
}

/* Font Icon (active) */
#nav-reviews .fa-star:active{
	color:#3498db !important;
}

/* Italic Tag (active) */
#nav-appointment a .icon-calendar:active{
	color:#3498db !important;
}

/* List item */
#nav-dashboard a{
	color:#235979 !important;
	position:static !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* Link */
#nav-conversations a{
	color:#235979 !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* Link (active) */
#nav-conversations a:active{
	color:#3498db !important;
}

/* Link (hover) */
#nav-appointment-collapse ul a:hover{
	color:#1abc9c !important;
}

/* Collapsed (active) */
#nav-marketing .collapsed:active{
	color:#3498db !important;
}

/* Link (active) */
#nav-triggers a:active{
	color:#3498db !important;
}

/* Span Tag (hover) */
#nav-triggers a span:hover{
	color:#1abc9c !important;
}

/* List item */
#nav-triggers{
	color:#235979 !important;
}

/* List */
#nav-links{
	color:#235979 !important;
	background-color: #30475e !important;
	color: var(--themeColorNavLinks) !important;
	display: flex !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
	
}

/* Span Tag */
#nav-dashboard a span{
	color:#ffffff !important;
	font-size:17px !important;
}

/* Link (active) */
#nav-funnels-websites > a:nth-child(1):active{
	color:#3498db !important;
}

/* Link */
#nav-funnels-websites > a:nth-child(1){
	color:#235979 !important;
}

/* Span Tag (hover) */
#nav-online-analysis a span:hover{
	color:#1abc9c !important;
}

/* Span Tag (hover) */
#nav-funnels-websites span:hover{
	color:#1abc9c !important;
}

/* Span Tag */
#nav-customers a span{
	font-size:17px !important;
}

/* Span Tag */
#nav-reviews span{
	font-size:17px;
	color:#ffffff !important;
}

/* Italic Tag (active) */
div div #navbar .hl_navbar--inner #navbar-collapse #nav-links #nav-appointment-request a .icon-blocks:active{
	color:#3498db !important;
}

/* Italic Tag (active) */
#navbar-collapse #nav-links #nav-appointment-request a .icon-blocks:active{
	color:#3498db !important;
}

/* Italic Tag (hover) */
#nav-reviews .icon-arrow-down-1:hover{
	color:#1abc9c !important;
}

/* Italic Tag (hover) */
#nav-appointment a .icon-arrow-down-1:hover{
	color:#1abc9c !important;
}

/* Italic Tag (hover) */
#nav-funnels-websites .icon-arrow-down-1:hover{
	color:#1abc9c !important;
}

/* Span Tag (active) */
#nav-funnels-websites span:active{
	color:#3498db !important;
}

/* List (hover) */
#nav-phonecalls-collapse ul:hover{
	color:#1abc9c !important;
}

/* List (active) */
#nav-phonecalls-collapse ul:active{
	color:#3498db !important;
}

/* Button */
#navbar-collapse .btn-block{
	background-image:linear-gradient(-156deg, #6d6027 0%, #d3cbb8 100%) !important;
	box-shadow:0px 0px 12px -3px #ffffff !important;
	background-color:#d7a600 !important;
	opacity:1 !important;
	visibility:hidden !important;
}

/* Card body */
#dashboard .container-fluid .card-group > .card > .card-body{
	background-color:#30475e !important;
	border-color:#f3caa4 !important;
	border-width:1px !important;
	border-bottom-right-radius:5px !important;
	border-bottom-left-radius:5px !important;
	border-top-right-radius:5px !important;
	border-top-left-radius:5px !important;
}

/* Division */
#dashboard .container-fluid .card-group > .card{
	background-color:#374149 !important;
	border-color:#f3caa4 !important;
	border-style:solid !important;
	border-width:2px !important;
	border-bottom-right-radius:5px !important;
	border-top-right-radius:5px !important;
	border-top-left-radius:5px !important;
	border-bottom-left-radius:5px !important;
}

/* Division */
.card div div .card .card-body{
	background-color:#30475e !important;
}

/* Card header */
.card div div .card .card-header{
	background-color:#30475e !important;
	border-style:none !important;
}

/* Card header */
#dashboard .container-fluid > .card .card .card-header{
	background-color:#30475e !important;
	border-color:#f3caa4 !important;
	border-style:none !important;
	border-width:1px !important;
	border-top-left-radius:5px !important;
	border-top-right-radius:5px !important;
	border-bottom-left-radius:5px !important;
	border-bottom-right-radius:5px !important;
	border-bottom-style:solid !important;
}

/* Division */
#dashboard .container-fluid > .card{
	background-color:#30475e !important;
	border-color:#f3caa4 !important;
	border-style:solid !important;
	border-width:2px !important;
}

/* Card header */
#dashboard .container-fluid > .card > .card-header{
	background-color:#30475e !important;
	border-color:#f3caa4 !important;
	border-style:none !important;
	border-width:1px !important;
	border-bottom-style:solid !important;
}

/* Table Data */
.table-sort tr td{
	background-color:#30475e !important;
	border-color:#f3caa4 !important;
	color:#ffffff !important;
	border-style:none !important;
	border-top-style:solid !important;
	border-top-width:1px !important;
	border-right-style:solid !important;
	border-right-width:1px !important;
	border-left-style:solid !important;
	border-left-width:1px !important;
}

/* Th */
.table-sort tr th{
	background-color:#30475e !important;
	color:#f3caa4 !important;
}

/* Heading */
.card-group > .card > .card-header h2{
	color:#f3caa4 !important;
}

/* Strong Tag */
#dashboard li strong{
	color:#f3caa4 !important;
}

/* Heading */
#dashboard .card-group h3{
	color:#ffffff !important;
}

/* Button */
#dashboard .card-group .card .btn-primary{
	color:#ffffff !important;
}

/* Heading */
#dashboard .pipeline-name h2{
	color:#ffffff !important;
}

/* Heading */
.card div div .card .card-header h2{
	color:#ffffff !important;
}

/* Heading */
.container-fluid > .card .card .card-header h2{
	color:#ffffff !important;
}

/* Heading */
#dashboard span h2{
	color:#ffffff !important;
}

/* Span Tag */
#dashboard span h2 span{
	color:#ffffff !important;
}

/* Heading */
#dashboard .d-flex h3{
	color:#ffffff !important;
}

/* Paragraph */
#dashboard .d-flex p{
	color:#ffffff !important;
}

/* Heading */
.card .card-body .row .col-xl-3 h4{
	color:#ffffff !important;
}

/* Paragraph */
#dashboard .appointment-stat p{
	color:#ffffff !important;
}

/* Span Tag */
#dashboard .card-group h2 span{
	color:#ffffff !important;
}

/* Heading */
.hl_dashboard--reviews-stats h4{
	color:#ffffff !important;
}

/* Paragraph */
.hl_dashboard--reviews-stats p{
	color:#ffffff !important;
}

/* Heading */
.card-group .card .card-body .hl_dashboard--reviews-sources h4{
	color:#ffffff !important;
}

/* Heading */
#dashboard .rating_stats h4{
	color:#ffffff !important;
}

/* Span Tag */
#dashboard .progress span{
	color:#ffffff !important;
}

/* Paragraph */
#dashboard .sentiment_review p{
	color:#ffffff !important;
}

/* Paragraph */
#dashboard .invites-goal_progress p{
	color:#ffffff !important;
}

/* Paragraph */
.rating_percentage div p{
	color:#ffffff !important;
}

/* Input */
#random24243-wrapper .field input[type=text]{
	color:#188bf6 !important;
}

/* Label */
#random352343-wrapper .field label{
	color:#2d5883 !important;
}

.highcharts-background{
	fill: #374149 !important;
	fill: #30475e !important;
}

text{
	fill: white !important;
}

/* Navbar  inner */
#navbar .hl_navbar--inner{
	background-color:#374149 !important;
}

/* Span Tag */
#nav-marketing span{
	color:#ffffff !important;
}

/* Span Tag */
#nav-appointment span{
	color:#ffffff !important;
}

/* Span Tag */
#nav-funnels-websites span{
	color:#ffffff !important;
}

/* Span Tag */
#nav-phonecalls a span{
	color:#ffffff !important;
}

/* Italic Tag */
#nav-appointment-request a i{
	color:#ffffff !important;
}

/* Italic Tag */
#nav-marketing .icon-mail{
	color:#ffffff !important;
}

/* Italic Tag */
#nav-appointment .icon-calendar{
	color:#ffffff !important;
}

/* Font Icon */
#nav-reviews .fa-star{
	color:#ffffff !important;
}

/* Font Icon */
#nav-funnels-websites .fa-filter{
	color:#ffffff !important;
}

/* Italic Tag */
#nav-phonecalls .icon-smartphone{
	color:#ffffff !important;
}

/* Italic Tag */
#nav-dashboard a i{
	color:#ffffff !important;
}

/* Collapsed */
#nav-marketing .collapsed{
	color:#ffffff !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* List */
#nav-appointment-collapse ul{
	background-color:#15242b !important;
	border-style:none !important;
	border-top-style:none !important;
}

/* List */
#nav-marketing-collapse ul{
	background-color:#222831 !important;
}

/* Italic Tag */
#nav-funnels-websites a .icon-arrow-down-1{
	color:#ffffff !important;
}

/* Container fluid */
#app div div .container-fluid{
	background-color:#222831 !important;
	border-style:none !important;
	color:#ffffff !important;
}

/* Button */
.hl_header .bootstrap-select .dropdown-toggle{
	background-color:#222831 !important;
	color:#ffffff !important;
}

/* Header */
#app div header{
	background-color:#374149 !important;
	border: none !important;
}

/* Navbar toggler */
#navbar-toggler{
	background-color:#374149 !important;
	color:#ffffff !important;
}

/* Italic Tag */
#nav-phonecalls a .icon-arrow-down-1{
	color:#ffffff !important;
}

/* Highcharts root */
#dashboard .sales-funnel-chart .highcharts-root{
	box-shadow:none !important;
}

/* Image (onscreen) */
#navbar img.yp_onscreen{
	animation-duration:1s !important;
	animation-delay:0s !important;
	animation-name:pop !important;
}

/* Navbar (hover) */
#navbar:hover{
	color:#1abc9c !important;
	font-weight:500 !important;
}

/* Navbar (active) */
#navbar:active{
	opacity:1 !important;
}

/* Division */
#app{
	background-color:#020202 !important;
}

/* Division */
#app > div{
	background-color:#000000 !important;
}

/* Span Tag */
#sentiment_negative-review span{
	color:transparent !important;
}

/* Division */
.card-group:nth-child(3) .card:nth-child(1) > div:nth-child(1) > div:nth-child(1){
	background-color:#30475e !important;
}

/* Button */
#dashboard .card .btn-primary{
	background-color:#222831 !important;
}

/* Link */
#nav-appointment-request a{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* Collapsed */
#nav-reviews .collapsed{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* Link */
#nav-funnels-websites a{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* Link */
#nav-online-analysis a{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* Link */
#nav-phonecalls a{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

/* Link */
#nav-settings a{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

Table{
	border: 1px solid #f3caa4 !important;
}

/* screen sizes smaller than 1199px and larger than 768px */
@media (max-width: 1199px) and (min-width: 768px){

	.hl_navbar--collapse{
		display: none !important;
		display: block !important;
		display: none !important;
	}
	
	.hl_navbar--links>li a span{
		opacity: 1 !important;
		-webkit-transition: unset !important;
		transition: unset !important;
		transform: unset !important;
	}
	
}

/* 768px and below screen sizes */
@media (max-width: 768px){

	.hl_navbar--collapse{
		display: none !important;
		display: block !important;
		display: none !important;
	}
	
	.hl_navbar--links>li a span{
		opacity: 1 !important;
		-webkit-transition: unset !important;
		transition: unset !important;
		transform: unset !important;
		display: none !important;
	}
	
}

/* 768px and above screen sizes */
@media (min-width:768px){

	/* List */
	#nav-appointment-collapse ul{
		padding-top:5px !important;
		padding-bottom:5px !important;
	}
	
}

/* 768px and above screen sizes */
@media (min-width: 768px){

	.hl_navbar--collapse{
		display: none !important;
		display: block !important;
	}
	
	.hl_header{
		position: static !important;
	}
	
	.hl_wrapper{
		padding-top: 0 !important;
		padding-left: 0px !important;
	}
	
	.hl_navbar--links{
		margin-top: unset !important;
		height: unset !important;
	}
	
	.hl_navbar{
		padding: 0 !important;
		position: unset !important;
		width: unset !important;
	}
	
	.hl_navbar.shrink{
		width: unset !important;
	}
	
}

/* 1200px and above screen sizes */
@media (min-width:1200px){

	/* Link */
	#nav-appointment-collapse ul a{
		font-size:16px !important;
	}
	
	/* Reviews Link */
	#nav-reviews > a{
		font-size:16px !important;
	}
	
	/* Link */
	#nav-customers-collapse ul a{
		font-size:16px !important;
	}
	
	/* Link */
	#nav-reputation a{
		font-size:16px !important;
	}
	
	/* Link */
	#nav-funnels-collapse ul a{
		font-size:16px !important;
	}
	
	/* Link */
	#nav-phonecalls-collapse ul a{
		font-size:16px !important;
	}
	
	/* Button */
	#navbar-collapse .btn-block{
		font-size:18px !important;
		width:180px !important;
	}
	
}

/* 1200px and above screen sizes */
@media (min-width: 1200px){

	.hl_navbar--collapse{
		display: none !important;
		display: block !important;
		display: none !important;
	}
	
	.hl_navbar{
		width: unset !important;
	}
	
	.hl_navbar.shrink .hl_navbar--links>li a span{
		opacity: 1 !important;
		-webkit-transition: unset !important;
		transition: unset !important;
		transform: unset !important;
	}
	
	.hl_navbar--links>li a span{
		opacity: 1 !important;
		-webkit-transition: unset !important;
		transition: unset !important;
		transform: unset !important;
	}
	
	.hl_wrapper.nav-shrink{
		padding-left: 0 !important;
		padding-left: 0 !important;
	}
	
	.hl_navbar.shrink{
		width: unset !important;
	}
	
}